<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <%= link_to 'Create new document', dashboard_documents_new_path, class: 'btn btn-info' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <h4>My documents</h4>
    <ul class="list-group">
      <% @users_documents.each do |doc| %>
        <li class="list-group-item">
            <p class="update_date"><%= doc.updated_at.strftime('last update on %d %B at %I:%M %p') %></p>
            <p class="content"><%= doc.slug(300)%></p>
            <p>
              <%= link_to 'Edit', dashboard_document_edit_path(doc.id), class: 'btn btn-success' %>
              <%= link_to 'Destroy', dashboard_document_destroy_path(doc.id), method: :delete, class: 'btn btn-danger' %>
            </p>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4">
    <h4>Others documents</h4>
    <ul class="list-group">
      <% @other_documents.each do |doc| %>
          <li class="list-group-item">
            <p class="update_date"><%= doc.updated_at.strftime('last update on %d %B at %I:%M %p') %></p>
            <p class="content"><%= doc.slug(150)%></p>
          </li>
      <% end %>
    </ul>
  </div>
</div>